# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
bower_components/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# logs
logs
*.log

# misc
.cache/
coverage/
.nyc_output/
